[Unit]
Description=WiPi Electricity Monitor Service
After=network.target
After=bluetooth.target

[Service]
EnvironmentFile=/etc/power.conf
ExecStart=/usr/local/bin/power $SENSOR $RES $DEBUG --config $CONFDIR --log $LOGFILE --track $TRACKDIR
User=root
Group=root

[Install]
WantedBy=multi-user.target
